.container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

        position: relative;
}

.sacola {
        width: 58%;
        max-width: 702px;
        padding: 0 1em;
}

.compra {
        width: 30%;
        min-width: 300px;
}