.header {
        background-color: yellow;
        width: 100%;
        min-width: 340px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 3em;
        box-sizing: border-box;

}

.link {
        color: #fff;
        text-decoration: none;
        font-weight: 800;
        font-size: 33px;
        text-transform: uppercase;
        border-bottom: 4px solid #fff;
}

.search {

        width: 70%;

}

.form {
        width: 100%;

}

.pesquisa {
        width: 100%;
}
